---
layout: default
---

<div class="wrapper">

  <div class="row">
    <div class="post-list">
	    {% for nft in site.categories.nft %}
      {% for post in paginator.posts %}
        {% include post-card.html %}
	    <li>
			<a href="">{{nft.title}}</a>
		</li>
      {% endfor %}
    </div>
  </div>
    <ul>
	{% for nft in site.categories.nft %}
		<li>
			<a href="">{{nft.title}}</a>
		</li>
	{% endfor %}
</ul>					

  <div class="row row--full">
    {% include pagination.html %}
  </div>

</div>
