---
layout: default
---

{% include base_path %} {% assign author = site.authors[page.author] %}

<div class="wrapper">
  <div class="row">
    {% if page.image %}
    <div class="column column--center medium-10 large-10">
      <div
        class="grey-bg CoverImage FlexEmbed FlexEmbed--16by9"
        style="background-image: url({{ page.image | prepend: site.baseurl }})"
      ></div>
    </div>
    {% endif %}

    <div class="column column--center medium-10 large-10">
      <article
        class="post {% unless page.image %} post--no-image {% endunless %}"
        itemscope
        itemtype="http://schema.org/BlogPosting"
      >
        {% if page.image %}
        <meta itemprop="og:image" content="{{ base_path }}{{ page.image }}" />
        {% endif %}

        <header class="text-center post__header">
          
          <h2 class="post__title" itemprop="name headline">{{ page.title }}</h2>
          <time
            class="post__date"
            datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
            >{{ page.date | date: "%b %-d, %Y" }}</time
          >
          <div class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        </header>
        

        <div class="post-content" itemprop="articleBody">{{ content }}</div>

        <div class="row">
          <div class="column large-10">
            <div class="post__tags">
              {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="column large-2">{% include share.html %}</div>
        </div>
        
        <hr />
        
        <div class="relatedPosts">

<h4>You May Also Enjoy</h4>

{% assign maxRelated = 4 %}
{% assign minCommonTags =  2 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      <div>
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</div>

        {% if page.author %} {% include author.html %} {% endif %}

        <hr />
        {% include disqus.html %}
      </article>
    </div>
  </div>
  <!-- row-->
</div>
<!-- wrapper -->
